<!-- /Users/carlosventura/Mentor/educacion-singular-platform/app/templates/base.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <nav>
      <!-- Navigation menu -->
      <ul>
        <li><a href="{{ url_for('main.home') }}">Home</a></li>
        <li><a href="{{ url_for('main.login') }}">Login</a></li>
        <li><a href="{{ url_for('main.register') }}">Register</a></li>
      </ul>
    </nav>
    <div id="content">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
